/* page 3 */

.page3 {
    height: 210vh;
    /* background: linear-gradient(90deg, #117bdd,#25fc42a2); */
    background-color: rgb(253, 252, 252);
    display: flex;
    padding: 9vh;
    /* margin-top: 45px; */
    justify-content: center;
    /* align-items: center; */
    /* flex-wrap: wrap; */
    flex-direction: column;
}

.page3-text{
    font-size: 3em;
    font-weight: 700;
    /* width: 55vw; */
    text-align: center;
   
}

.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.card {
    background-color: rgb(138, 189, 196);
    width: 28vw;
    height: 90vh;
    border-radius: 9px;
    margin: 1vw;
    box-shadow: 0 4px 10px rgba(126, 156, 238, 0.3);
}

img {
    margin-left: 0.5vw;
    width: 26vw;
    border: 1px solid black;
    border-radius: 6px;
}

.pic {
    padding: 7px;
}

.content {
    padding: 14px 14px 7px 14px;
    /*    top right bottom left*/
}

.content h2 {
    padding: 0;
    margin: 0;
    margin-bottom: 12px;
}

.content p {
    margin: 0;
    font-size: 16px;
    padding: 0 0 20px 0;
}


.button {
    text-align: center;
    width: 150px;
    /*344-150=194*/
    margin-left: 97px;
}

.button button {
    padding: 3px;
    border-radius: 11px;
    background-color: rgb(131, 221, 221);
    color: blue;
    border: none;
    font-size: 17px;
    cursor: pointer;
}

.button button:hover {
    background-color: blue;
    color: azure;
}



.footer{
    display: grid;
    height: 54vh;
    background-color: rgb(34, 34, 56);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;  
    padding-left: 5vw;
}
.footer a{
    font-size: 17px;
    color: white;
    /* width: 10vw; */
    padding: 4px;
    text-decoration: none;
}
.footer-item{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    margin: 2vw;
    margin-top: 11vh;
}

.footer a:hover{
    /* font-size: 27px; */
    transform: scale(1.1);
    border: 1px solid rgba(243, 223, 223, 0.514);
    
}

.footer-bottom {
    text-align: center;
    /* position: center; */
    color:brown;
    height: 7vh;
    font-size: 19px;
    font-weight: 550;
    color: darkblue;
    background-color: white;
    padding-top: 20px;
}

.separate{
    height: 1vh;
    /* background-color: rgb(151, 1, 156); */
    background-image: var(--main-gradient);
}